    <div class="container" ng-controller="InsertAgentController">
        <h1 class="col-lg-10 well">Đăng kí Agent</h1>
        <div class="col-lg-10 well">
        <div class="row">
                    <form name="insertAgentForm">
                        <div class="col-sm-12">
                            <div class="row">
                                <div style=" height:95px;">
                                    <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.AgentNumber.$invalid && insertAgentForm.AgentNumber.$dirty}">
                                        <label>Mã Agent*</label> 
                                        <input type="text" name="AgentNumber" placeholder="Enter Agent Number Here.." class="form-control" maxlength="10" ng-model="agent.agentNumber" autofocus required>
                                        <span style="color:red" ng-show="insertAgentForm.AgentNumber.$dirty && insertAgentForm.AgentNumber.$invalid">Mục này không được để trống hoặc mã Agent Number đã tồn tại</span>
                                     </div>
                                    
                                    <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.AgentName.$invalid && insertAgentForm.AgentName.$dirty}">
                                        <label>Tên Agent*</label>
                                        <input type="text" name="AgentName" placeholder="Enter Agent Name Here.." class="form-control" maxlength="30" ng-model="agent.agentName" required>
                                        <span style="color:red" ng-show="insertAgentForm.AgentName.$dirty && insertAgentForm.AgentName.$invalid">Mục này không được để trống</span>
                                    </div>
                                </div>
                            </div>	
                            
                            <div class="row">
                                <div style=" height:95px;">
                                    <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Telephone1.$invalid && insertAgentForm.Telephone1.$dirty || insertAgentForm.Telephone1.$error.pattern}">
                                        <label>Số điện thoại 1*</label>
                                        <input type="text" name="Telephone1" class="form-control" maxlength="11" ng-model="agent.telephone1" ng-pattern="/^\d+$/" required>
                                        <span style="color:red" ng-show="insertAgentForm.Telephone1.$invalid && insertAgentForm.Telephone1.$dirty || insertAgentForm.Telephone1.$error.pattern">Mục này không được để trống hoặc số điện thoại bạn nhập không hợp lệ</span>
                                    </div>	
                                    
                                    <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Telephone2.$error.pattern}">
                                        <label>Số điện thoại 2</label>
                                        <input type="text" name="Telephone2" class="form-control" maxlength="11" ng-model="agent.telephone2" ng-pattern="/^\d+$/">
                                        <span style="color:red" ng-show="insertAgentForm.Telephone2.$error.pattern">Số điện thoại bạn nhập không hợp lệ</span>
                                    </div>	
                                    
                                    <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Telephone3.$error.pattern}">
                                        <label>Số điện thoại 3</label>
                                        <input type="text" name="Telephone3"class="form-control" maxlength="11" ng-model="agent.telephone3" ng-pattern="/^\d+$/">
                                       <span style="color:red" ng-show="insertAgentForm.Telephone3.$error.pattern">Số điện thoại bạn nhập không hợp lệ</span>
                                    </div>	   
                                </div>
                            </div>
                            
                            <div class="row">
                                <div style=" height:95px;">
                                    <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.City.$invalid && insertAgentForm.City.$dirty}">
                                        <label>Thành Phố*</label>
                                        <input type="text" name="City" placeholder="Enter City Here.." class="form-control" maxlength="30" ng-model="agent.city" required>
                                        <span style="color:red" ng-show="insertAgentForm.City.$dirty && insertAgentForm.City.$invalid">Mục này không được để trống</span>
                                    </div>		
                                    <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.District.$invalid && insertAgentForm.District.$dirty}">
                                        <label>Quận*</label>
                                        <input type="text" name="District" placeholder="Enter District Here.." class="form-control" maxlength="30" ng-model="agent.district" required>
                                        <span style="color:red" ng-show="insertAgentForm.District.$dirty && insertAgentForm.District.$invalid">Mục này không được để trống</span>
                                    </div>
                                </div>
                            </div>
                            
                        <div class="row">
                            <div style=" height:95px;">
                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.Street.$invalid && insertAgentForm.Street.$dirty}">
                                    <label>Tên Đường*</label>
                                    <input type="text" name="Street" placeholder="Enter Street Here.." class="form-control" maxlength="30" ng-model="agent.street" required>
                                    <span style="color:red" ng-show="insertAgentForm.Street.$dirty && insertAgentForm.Street.$invalid">Mục này không được để trống</span>
                                </div>	

                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.StreetNumber.$invalid && insertAgentForm.StreetNumber.$dirty || insertAgentForm.StreetNumber.$error.pattern}">
                                    <label>Số nhà*</label>
                                    <input type="text" name="StreetNumber" placeholder="Enter Street Number Here.." class="form-control" maxlength="30" ng-model="agent.streetNumber" ng-pattern="/^\d+$/" required>
                                    <span style="color:red" ng-show="insertAgentForm.StreetNumber.$invalid && insertAgentForm.StreetNumber.$dirty || insertAgentForm.StreetNumber.$error.pattern">Mục này không được để trống hoặc dữ liệu không phải số</span>
                                </div>
                            </div>
                            
                            <div style=" height:95px;">
                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.Region.$invalid && insertAgentForm.Region.$dirty}">
                                    <label>Vùng miền*</label>
                                    <input type="text" name="Region" placeholder="Enter Region Here.." class="form-control" maxlength="30" ng-model="agent.region" required>
                                    <span style="color:red" ng-show="insertAgentForm.Region.$dirty && insertAgentForm.Region.$invalid">Mục này không được để trống</span>
                                </div>

                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.Owner.$invalid && insertAgentForm.Owner.$dirty}">
                                    <label>Người đại diện*</label>
                                    <input type="text" name="Owner"  placeholder="Enter Website Name Here.." class="form-control" maxlength="30" ng-model="agent.owner" required>
                                    <span style="color:red" ng-show="insertAgentForm.Owner.$dirty && insertAgentForm.Owner.$invalid">Mục này không được để trống</span>
                                </div>
                            </div>
                            
                            <div style=" height:95px;">
                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.Fax.$invalid && insertAgentForm.Fax.$dirty || insertAgentForm.Fax.$error.pattern}">
                                    <label>Fax*</label>
                                    <input type="text" name="Fax" placeholder="Enter Fax Here.." class="form-control" maxlength="11" ng-model="agent.fax"  ng-pattern="/^[0-9]+[-0-9]*$/"  required>
                                    <span style="color:red" ng-show="insertAgentForm.Fax.$invalid && insertAgentForm.Fax.$dirty || insertAgentForm.Fax.$error.pattern">Mục này không được để trống hoặc Số fax không hợp lệ</span>
                                </div>

                                <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.BankAccount.$invalid && insertAgentForm.BankAccount.$dirty}">
                                    <label>Tài khoản ngân hàng*</label>
                                    <input type="text" name="BankAccount" placeholder="Enter Bank Account Here.." class="form-control" maxlength="30" ng-model="agent.bankAccount" required>
                                    <span style="color:red" ng-show="insertAgentForm.BankAccount.$dirty && insertAgentForm.BankAccount.$invalid">Mục này không được để trống</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div style=" height:95px;">
                            <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Email1.$invalid && insertAgentForm.Email1.$dirty || insertAgentForm.Email1.$error.email}">
                                <label>Email 1*</label>
                                <input type="email" name="Email1" placeholder="Enter Email 1 Here.." class="form-control" maxlength="30" ng-model="agent.email1" required>
                                <span style="color:red" ng-show="insertAgentForm.Email1.$invalid && insertAgentForm.Email1.$dirty || insertAgentForm.Email1.$error.email">Mục này không được để trống hoặc địa chỉ email không hợp lệ</span>
                            </div>
                            
                            <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Email2.$error.email}">
                                <label>Email 2</label>
                                <input type="email" name="Email2" placeholder="Enter Email 2 Here.." class="form-control" maxlength="30" ng-model="agent.email2">
                                <span style="color:red" ng-show="insertAgentForm.Email2.$error.email">Địa chỉ email không hợp lệ</span>
                            </div>	
                            
                            <div class="col-sm-4 form-group" ng-class="{'has-error' : insertAgentForm.Email3.$error.email}">
                                <label>Email 3</label>
                                <input type="email" name="Email3" placeholder="Enter Email 3 Here.." class="form-control" maxlength="30" ng-model="agent.email3">
                                <span style="color:red" ng-show="insertAgentForm.Email3.$error.email">Địa chỉ email không hợp lệ</span>
                            </div>
                            </div>
                        </div>
                            
                         <div class="row">
                            <div style=" height:95px;">
                                <div class="col-sm-6 form-group" ng-class="{'has-error': insertAgentForm.BackEndProcessor.$invalid && insertAgentForm.BackEndProcessor.$dirty}">
                                    <label>Back End Processor*</label>
                                    <input type="text" name="BackEndProcessor" placeholder="Enter Back End Processor Here.." class="form-control" maxlength="10" ng-model="agent.backEndProcessor" required>
                                    <span style="color:red" ng-if="insertAgentForm.BackEndProcessor.$invalid && insertAgentForm.BackEndProcessor.$dirty">Bạn không được bỏ trống</span>
                                </div>
            
                            <div class="col-sm-6 form-group" ng-class="{'has-error' : insertAgentForm.inlineRadioOptions.$invalid && insertAgentForm.inlineRadioOptions.$dirty}">
                                <label>Status*</label><br>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="agent.status" name="inlineRadioOptions" id="inlineRadio0" value="0" required> Inactive
                                </label>
                                
                                <label class="radio-inline">
                                    <input type="radio" ng-model="agent.status" name="inlineRadioOptions" id="inlineRadio1" value="1" required> Active
                                </label>
                                <span style="color:red" ng-show="insertAgentForm.inlineRadioOptions.$dirty && insertAgentForm.inlineRadioOptions.$invalid">Mục này không được để trống</span>
                            </div>	
                            </div>
                        </div>
                            
                        <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Ngày chấp nhận</label>
                                    <input type="date" name="ApproveDate" ng-model="approveDate" class="form-control" disabled>
                                    <br>
                                    <label>Ngày đầu tiên hoạt động</label>
                                    <input type="date" name="FirstDateActive" ng-model="agent.firstDateActive" class="form-control" ng-change="change()">
                                </div>
                              <br><br><br>
                                    <div class="alert alert-danger" role="alert" style="width:470px;float:right" ng-if="checkngay == 1"><span class="glyphicon glyphicon-remove"></span> Lỗi: Ngày First Date Active nhập phải lớn hơn Approve Date</div>
                                    <div class="alert alert-success" role="alert" style="width:470px;float:right" ng-if="checkngay == 0"><span class="glyphicon glyphicon-ok"></span> Ngày nhập hợp lệ</div>
                                 
                        </div>				
                             <button type="button" style="float:right" class="btn btn-lg btn-info" ng-disabled="insertAgentForm.$invalid || checkngay == 1 || checkMaAgent == 1 || insertAgentForm.Telephone1.$error.pattern || insertAgentForm.Telephone2.$error.pattern || insertAgentForm.Telephone3.$error.pattern || insertAgentForm.StreetNumber.$error.pattern || insertAgentForm.Email1.$error.email || insertAgentForm.Email2.$error.email || insertAgentForm.Email2.$error.email || insertAgentForm.Email3.$error.email || checkMaProcessor == 1" data-toggle="modal" data-target="#myModal2" ng-click = "insertAgent_click()" >Đăng kí</button>
                            
                             <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog" >
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
                                  </div>
                                  <div class="modal-body">
                                      
                                    <form>
                                          <div class="form-group" ng-if="checkInsertAgent == 0">
                                            <label for="recipient-name" class="control-label">Mã tài khoản:</label>
                                            <input type="text" class="form-control" value="{{agent.agentNumber}}">
                                          </div>
                                          <div class="form-group" ng-if="checkInsertAgent == 0">
                                            <label for="message-text" class="control-label">Password:</label>
                                            <input type="password" class="form-control" ng-model="register.Password">
                                          </div>
                                        <div class="form-group" ng-if="checkInsertAgent == 0">
                                            <label for="message-text" class="control-label">Conform Password:</label>
                                            <input type="password" class="form-control" ng-model="register.ConfirmPassword">
                                          </div>
                                        <p ng-if="checkAccount == 1"> Đăng kí thất bại vào bảng Account.</p>
                                    </form>
                                    <p ng-if="checkInsertAgent == 1">Đăng kí thất bại.</p> 
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"data-dismiss="modal" ng-click="reload_click()" ng-if="checkInsertAgent == 0">OK</button>
                                    <button type="button" class="btn btn-primary"data-dismiss="modal" ng-if="checkInsertAgent == 1">OK</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                           
                        </div>
                    </form> 
                    </div>
        </div>
        </div>