<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
	<meta charset="utf-8" />
    <!-- Bootstrap Core CSS -->
    <link href="../Asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/angular-material/angular-material.min.css"  rel="stylesheet">
    <link href="../bower_components/angular-material-data-table/dist/md-data-table.css"  rel="stylesheet">
    <link href="../bower_components/notify/notiny.css"  rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../Asset/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="../Asset/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../Asset/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../Asset/vendor/part/part.css" rel="stylesheet" type="text/css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
    
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../Asset/angular-cookies/angular-cookies.js"></script>
    <script src="../Asset/angularLocalStorage/dist/angularLocalStorage.min.js"></script>
    <script src="../App/App.module.js"></script>
    <script src="../App/App.Factory.js"></script>
    <script src="../Asset/vendor/jquery/jquery.min.js"></script>
    <script src="../Asset/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Asset/vendor/part/part.js"></script>
    
    <script src="../Asset/Reneve/FileSaver.js"></script>
    <script src="../Asset/Reneve/json-export-excel.js"></script>
    <script src="Login/loginController.js"></script>
    <script src="Root/rootController.js"></script>
    <script src="Home/HomeController.js"></script>
    <script src="ChangePassword/ChangePasswordController.js"></script>
    <script src="SearchMerchant/SearchMerchant.js"></script>
    <script src="SearchAgent/SearchAgent.js"></script>
    <script src="BoxMessage/BoxMessageController.js"></script>
    <script src="OutboxMessage/OutboxMessageController.js"></script>
    <script src="SendMessage/SendMessageController.js"></script>
    <script src="InsertAgent/InsertAgentController.js"></script>
    <script src="InsertMerchant/InsertMerchantController.js"></script>
    <script src="EditProfile/EditProfileController.js"></script>
    <script src="Revenue/RevenueController.js"></script>
    <script src="InsertMerchant/InsertMerchantController.js"></script>
    <script src="GrantAgent/GrantAgent.js"></script>
    <script src="SearchRetrival/SearchRetrivalController.js"></script>
    <style>
        .notiny-theme-light {
          background-color: #74DCDC;
          color: #202020;
        }
    </style>
</head>
<body>
    <div ui-view></div>
    
</body>

</html>
